$maxWidth: 1920; // задать нужную ширину макета
@mixin adaptiv-font($pcSize, $mobSize) {
	 $addSize: $pcSize - $mobSize;
	 $maxWidth: $maxWidth - 320;
	 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})); 
}
@mixin adaptiv-height($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 768;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 768px) / #{$maxWidth})); 
}
@mixin adaptiv-font-lt($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 768;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 768px) / #{$maxWidth})); 
}
@mixin adaptiv-padding($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	padding: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})); 
}
@mixin adaptiv-margin($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	margin: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})); 
}
@mixin adaptiv-margin-top($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 768;
	margin-top: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 768px) / #{$maxWidth})); 
}
@mixin adaptiv-margin-bottom($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 768;
	margin-bottom: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 768px) / #{$maxWidth})); 
}
@mixin adaptiv-margin-right($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	margin-right: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})); 
}
@mixin adaptiv-margin-left($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	margin-left: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})); 
}
@mixin adaptiv-margin-bottom-normal($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	margin-bottom: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})); 
}

