@import "fonts";
@import "normalize";
@import "modules/adaptive-styles";
@import '../../node_modules/swiper/swiper-bundle';
/*------others----------*/
body{
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    color: #fff;
    background: #0C1938;
    overflow-x:hidden;
    font-size: 16px;
}
.scroll{
    position: fixed;
    top: 0;
    left: 0;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
    overflow-x: hidden;
}
.container {
    max-width: 1720px;
    margin: 0 auto;
}
.green{
    color: #03C623;
}
.button {
    border: none;
    outline: none;
    background: #EF382A;
    border-radius: 16px;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FCFCFC;
    padding: 25px 95px 25px 71px;
    position: relative;
    &::after{
        content: url('../img/svg/arrow.svg');
        position: absolute;
        top: 25px;
        right: 73px;
        transition: transform .3s ease 0s;
    }
    &:hover::after{
        transform: translateX(5px);
    }
}
/*--------Header start -----------*/
.header{
    padding: 0 15px;
}
.header__row {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
    margin-top: 74px;
    position: relative;
    z-index: 5;
}
.header__column {
   padding: 0 10px;
}
.header__column-2{
    width: 55%;
}
.header__input{
    background: #1B2846;
    border-radius: 16px;
    width: 100%;
    height: 49px;
    border: none;
    padding: 0 16px;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    outline: #0d1831;
    &::placeholder{
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        color: #586179;
    }
   
}
.header__call {
    transform: translateY(45px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.header__phone-number {
    padding-left: 47px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    background: url('../img/svg/phone-ico.svg') 0 0 no-repeat;
    transition: all .1s ease 0s;
    &:hover{
        opacity: .3;
    }
    a{
        text-decoration: none;
        color: #FFFFFF;
    }
}
.header__apps {
    @include adaptiv-margin-top(61,40);
    a{
        margin-left: 60px;
        &:first-child{
            margin: 0;
        }
        &:hover{
            opacity: .3;
        }
    }
}
/*-----------Header end-------------*/

/*-------iherb start----------*/
.iherb{
    @include adaptiv-margin-bottom(242,140);
    position: relative;
    z-index: 4;
    padding: 0 15px;
}
.iherb__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
.iherb__column{
    flex: 1 1 50%;
    height: 100%;
}
.iherb__column-1{
    padding-top: 119px;
}
.iherb__title {
    font-weight: 700;
    @include adaptiv-font-lt(70,40);
    line-height: 85px;
    color: #FFFFFF;
    width: 8.143em;
    margin-bottom: 36px;
    margin-right: 32px;
}

.iherb__text {
    font-weight: 400;
    @include adaptiv-font-lt(26,16);
    width: 19.846em;
    line-height: 31px;
    color: #FFFFFF;
}
.iherb__button {
    @include adaptiv-margin-top(207,135);
    display: inline-block;
}

.iherb__img {   
    overflow: hidden;
    img{
        max-width: 100%;
    }
}
/*--------iherb end-----------*/

/*----------about us start---------*/
.about-us {
    position: relative;
    padding: 0 15px;
    @include adaptiv-margin-bottom-normal(283,89);
}
.about-us__title {
    position: relative;
    z-index: 2;
    font-weight: 600;
    @include adaptiv-font(50,24);
    line-height: 1.22;
    color: #FCFCFC;
    text-align: center;
    @include adaptiv-margin-bottom-normal(125,24);
}
.about-us__blure{
    position: absolute;
    top: -90%;
    left: 0;
}
.about-us__body {
    position: relative;
    z-index: 3;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.about-us__img {
    img{
    max-width: 100%;
    }
}

.about-us__names {
    font-weight: 600;
    @include adaptiv-font(36,20);
    line-height: 1.22;    
    width: 21.8em;
    text-align: center;
    color: #4A5F8D;
    margin-bottom: 30px;
}
.about-us__text {
    p{
        font-weight: 500;
        @include adaptiv-font(32,20);
        line-height: 1.2;
        color: #EADEDE;
        width: 21.4em;
        margin: 0 auto;
        margin-bottom: 35px;
    }
    p:last-child{
        margin-bottom: 0;
    }
}
.blue {
    color: #5295D2;
}
/*-----------about us end----------*/

/*-------------Options start----------*/
.options{
    @include adaptiv-margin-bottom-normal(263,114);
    padding: 0 15px;
}
.options__title {
    font-weight: 600;
    @include adaptiv-font(50,23);
    line-height: 1.22;
    color: #FCFCFC;
    text-align: center;
    @include adaptiv-margin-bottom-normal(151,61);
}
.options-slider {
    position: relative;
    padding-bottom: 63px;
}
.info {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    align-items: center;
    margin-bottom: 125px;
    
}
.info__img {
    img{
        max-width: 100%;
    }
}
.info__title {
    font-weight: 700;
    @include adaptiv-font-lt(36,28);
    line-height: 1.22;
    color: #FCFCFC;
}
.info__text {
    font-weight: 400;
    @include adaptiv-font-lt(20,16);
    line-height: 29px;
    color: #FCFCFC;
    width: 16.05em;
    margin: 0 auto;
}

.options-slider__slide{
    height: 100%;
}
.plates__card {
    background: #1B2846;
    border-radius: 28px;   
    position: relative;
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 22px;
}

.plates__img {
    position: relative;
    padding: 0px 0px 71% 0px;
    border-radius: 14px;
    overflow: hidden;
    width: 100%;
    img{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.plates__title {
    font-weight: 500;
    @include adaptiv-font-lt(26,17);
    line-height: 1.2;
    color: #FFFFFF;
    @include adaptiv-margin-bottom(92,62);
    text-align: center;
}
.plates__date {font-weight: 400;
    @include adaptiv-font-lt(20,13);
    line-height: 1.2;
    color: #2F80ED;
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
}
.slider-buttons{
    margin-top: 63px;
    position: relative;
}
.swiper-button-prev {
    left: 45%;
    &::after{
        content: url('../img/svg/arrow-left.svg');
    }
}
.swiper-button-next {
    right: 45%;
    &::after{
        content: url('../img/svg/arrow-right.svg');
    }
}

/*--------------Options end-----------*/

/*-------------Instruction start--------*/
.instruction {
    position: relative;
    margin-bottom: 292px;
    padding: 0 15px;
}
.instruction__blure{
    position: absolute;
    right: 0;
    top: -180%;
}
.instruction__cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}
.instruction__card-2 {
    grid-column: span 2;
}
.instruction__title {
    font-weight: 600;
    @include adaptiv-font(86,32);
    line-height: 1.2;
    color: #E7EBF2;
    margin-bottom: 56px;
}
.instruction__info {
    display: flex;
    align-items: center;   
}
.instruction__list {
    list-style-type: none;
    counter-reset: ol-numbers;
    li{
        position: relative;
        padding: 33px 47px 33px 83px;
        margin-bottom: 20px;
        background: radial-gradient(100% 100% at 50.05% 0%, #204073 0%, rgba(32, 65, 119, 0) 100%), #1C2B4B;
        border-radius: 28px;
        margin-right: 88px;
        opacity: .5;
        transition: all .3s ease 0s;
    }
    li:last-child{
        margin-bottom: 0;
    }
    li:before{
        counter-increment: ol-numbers;
        content: counter((ol-numbers));
        width: 29px;
        height: 29px;
        background: #131b30;
        border-radius: 7.93684px;
        padding: 5px 10px;
        position: absolute;
        top: 33px;
        left: 34px;
    }
    li.active{
        opacity: 1;
        background: radial-gradient(100% 100% at 50.05% 0%, #5B2C3D 0%, rgba(91, 44, 61, 0) 100%), #1C2B4B;
        &::before{
            background: #5F9FF5;
        }
    }
}
.instruction__link {
    font-weight: 500;
    @include adaptiv-font(24,16);
    line-height: 1.2;
    color: #FCFCFC;
    text-decoration: none;
}
.instruction__bullets {
    padding-right: 29px;
    margin-right: -29px;
}
.instruction__bullet {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #2F80ED;
    margin-bottom: 30px;
    transition: all .3s ease 0s;

    &:last-child{
        margin-bottom: 0;
    }
    &.active{
        background-color: #fff;
    }    
}
/*--------------Instruction end---------*/

/*--------------Comments start----------*/
.comments {
    position: relative;
    @include adaptiv-margin-bottom-normal(234,103);
    .swiper-button-prev-all{
        position: absolute;
        top: 15%;
        left: 45%;
        &::after{
            content: url('../img/svg/arrow-left.svg');
        }
    }
    .swiper-button-next-all{
        position: absolute;
        top: 15%;
        right: 45%;
        &::after{
            content: url('../img/svg/arrow-right.svg');
        }
    }
    &::after{
        content: url(../img/commets-1.png);
        position: absolute;
        top: 28%;
        left: 4%;
    }
    &::before{
        content: url(../img/comments-2.png);
        position: absolute;
        top: 55%;
        left: 42%;
    }
}
.comments__title {
    font-weight: 600;
    @include adaptiv-font-lt(50,32);
    line-height: 1.22;
    text-align: center;
    color: #FCFCFC;
}
.comments__row {
    display: flex;
    align-items: center;
    min-width: 0;
}
.text-slider {
    @include adaptiv-margin-left(200,38);
    flex: 1 1 55%;
}

.text-slider__slide {
    margin-right: .5%;
}
.text-slider__name {   
    @include adaptiv-font(18,12);
    line-height: 1.22;
    @include adaptiv-margin-bottom-normal(25,18);
    color: #71C67F;

}
.text-slider__text {
    font-weight: 300;
    @include adaptiv-font(32,16);
    line-height: 144.02%;
    width: 25em;
    margin-bottom: 28px;


}
.text-slider__date {
    font-weight: 500;
    @include adaptiv-font(18,12);
    line-height: 22px;
    color: #71C67F;
}
.phone-slider {
    flex: 1 1 45%;
}
.phone-slider__wrapper {
     .swiper-slide{
        opacity: .3;
        transform: scale(.9); 
        transition: all .5s ease 0s;
    }
    .swiper-slide-active{
        opacity: 1;
        transform: scale(1);
    }
    img{
        max-width: 100%;
    }
}
/*---------------Comments end-----------*/

/*--------------Application start-------*/
.application {
    @include adaptiv-margin-bottom-normal(137,79);
    padding: 0 15px;
}
.application__title {
    font-weight: 700;
    @include adaptiv-font(50,24);
    @include adaptiv-margin-bottom-normal(32,19);
    line-height: 1.22;
    color: #FFFFFF;
    text-align: center;
}
.application__sub-title {
    font-weight: 700;
    @include adaptiv-font(38,16);
    line-height: 1.2;
    color: #C3CDE1;
    width: 22em;
    margin: 0 auto;
    @include adaptiv-margin-bottom-normal(65,50);
}
.application__form {
    max-width: 808px;
    margin: 0 auto;
    input[type="text"]{
        width: 100%;
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid #FCFCFC;
        padding: 35px 10px 10px 9px;
        font-weight: 400;
        @include adaptiv-font(22,18);
        line-height: 150%;
        color: #FCFCFC;
        position: relative;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.application__input-name {
    position: relative;
    &::before{
        content: "Имя";
        position: absolute;
            top: 0;
            left: 9px;
            font-weight: 300;
            font-size: 18px;
            line-height: 150%;
            color: #FCFCFC;
    }
    margin-bottom: 23px;
}
.application__input-number {
    position: relative;
    &::after{
            content: 'Телефон';
            position: absolute;
            top: 0;
            left: 9px;
            font-weight: 300;
            font-size: 18px;
            line-height: 150%;
            color: #FCFCFC;
    }
    margin-bottom: 23px;
}
.application__input-comment {
    position: relative;
    &::after{
        content: 'Ваш комментарий';
        position: absolute;
        top: 0;
        left: 9px;
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        color: #FCFCFC;
}
    margin-bottom: 43px;
}
.application__input-checkbox {
      input{
        margin-right: 16px;
      }
      label{
        font-weight: 300;
        font-size: 20px;
        line-height: 20px;
        color: #FCFCFC;
      }
      margin-bottom: 57px;
}
.application__center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.application__button {
    padding: 14px 121px 14px 119px;
    &::after{
        top: 14px;
        right: 90px;
    }
    margin-bottom: 29px;
}
.application__apps {
    a{
        margin-left: 27px;
        &:first-child{
            margin: 0;
        }
        &:hover{
            opacity: .3;
            filter: grayscale(1);
        }
    }
}
/*---------------Aplicaiton end---------*/

/*-------------Footer start-------------*/
.footer {
    @include adaptiv-margin-bottom-normal(95,45);
    padding: 0 15px;
}
.footer__body {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.footer__left {
    align-self: start;
}
.footer__logo {
    img{
        max-width: 100%;
    }
    margin-bottom: 30px;
}
.footer__calc {
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    color: #575F78;
    transition: color .3s ease 0s;
    position: relative;
    margin-bottom: 19px;
    &::after{
        content: "";
          width: 0px;
          height: 2px;
          background: #fff;
          position: absolute;
          bottom: -4px;
          left: 0;
          transition: width .3s;
    }
    &:hover{
        color: rgb(150, 144, 144);
    }
    &:hover::after{
        width: 100%;
          opacity: 1;
    }
}
.footer__check {
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    color: #575F78;
    transition: color .3s ease 0s;
    position: relative;
    &::after{
        content: "";
          width: 0px;
          height: 2px;
          background: #fff;
          position: absolute;
          bottom: -4px;
          left: 0;
          transition: width .3s;
    }
    &:hover{
        color: rgb(150, 144, 144);
    }
    &:hover::after{
        width: 100%;
          opacity: 1;
    }
}
.footer__center {
    grid-column: span 2;             
}
.footer__apps { 
    a{
        margin-right: 15px;
    }
    a:last-child{
        margin-right: 0;
    }
    
}        
.footer__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 133.02%;
    color: #7996DC;
}
.footer__right {
    justify-self: end;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer__cards {
    display: flex;
}
.footer__card {
    margin-right: 5px;
    &:last-child{
        margin-right: 0;
    }
    margin-bottom: 30px;
}
.footer__copy {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}
/*--------------Footer end--------------*/
@media (max-width: 85em/*1360px*/) {
    .comments__row {
        display: block;
    }   
    .text-slider{
        margin-left: 0;
        text-align: center;
        margin-bottom: 120px;
    }
    .text-slider__text{
        margin: 0 auto;
    }
    .comments{
        .swiper-button-prev-all,.swiper-button-next-all{            
            top: 30%;          
           z-index: 6;
        }
        &::after{
            top: 0;
        }
        &::before{
            top: 20%;
            left: 82%;
        }
}
    .phone-slider{
        text-align: center;
        margin-left: 27%;
    }
}
@media (max-width: 80em/*1280px*/) {
    
    .about-us__body{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
    }
    .about-us__img{
        order: 2;
    }
    .about-us__info{
        order: 1;
        margin-bottom: 50px;
    }
    .about-us__names{
        width: 100%;
    }
    .about-us__text{
        p{
            width: 100%;
        }
    }
    .footer__body{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
                    "calcul cards"
                    "text text"
        ;
        .footer__left{
            grid-area: calcul;
        }
        .footer__center{
            grid-area: text;
        }
        .footer__right{
            grid-area: cards;
        }
    }
}
@media (max-width: 71em/*1136px*/) {
    .info{
        grid-template-columns: repeat(2,1fr);
        row-gap: 40px;
    }
    .header__column-1{
        order: 1;
    }
    .header__column-3{
        order: 2;
    }
    .header__column-2{
        order: 3;
        margin-top: 70px;
        width: 100%;
        input{
            width: 100%;
        }
    }
}
@media (max-width: 65em/*1040*/) {
    .instruction__cards{
        grid-template-columns: repeat(1,1fr);
    }
    .instruction__button{
        position: absolute;
        bottom: -20%;
        left: 50%;
        transform: translateX(-50%);
    }
    .instruction__bullets{
        margin-right: 0;
    }
    .instruction__title{
        text-align: center;
    }
}
@media (max-width: 48em/*768px*/) {
    .application__form{
        max-width: 540px;
    }
    .application__button{
        padding: 25px 95px 25px 71px;
        &::after{
            top: 23px;
            right: 70px;
        }
    }
    .instruction__button{
        padding: 20px 75px 20px 70px;
        white-space: nowrap;
        &:after{
            top: 20px;
            right: 40px;
        }
    }
    .instruction__list{
        li{
            margin-right: 35px;
        }
    }

   
}
@media (max-width: 39em/*626px*/) {
     .iherb__row{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding-bottom: 227px;
    }
    .iherb__bottom{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .iherb__column-1{
        padding-top: 50px;
    }
    .iherb__title{
        width: 100%;
        text-align: center;
    }
    .iherb__button{
        margin-top: 60px;
    }
    .comments{
        .swiper-button-prev-all{                    
        left: 40%;
        }
        .swiper-button-next-all{
            right: 40%;
        }
    }
    .swiper-button-prev{
        left: 40%;
    }
    .swiper-button-next{
        right: 40%;
    }
}
@media (max-width: 33em/*530*/) {
    .options{
        margin-bottom: 0;
    }
    .header__row{
        justify-content: center;
    }
}
@media (max-width: 32.4em/*519px*/) {
    .info{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 28em/*443px*/) {
    .footer__body {
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: 
                    "calcul"
                    "cards"
                    "text"
        ;
    }
    .footer__left{
        margin-bottom: 40px;
    }
    .footer__right{
        justify-self: start;
        margin-bottom: 40px;
    }
    .text-slider{
        margin-bottom: 30px;
    }
    .comments{
        .swiper-button-prev-all,.swiper-button-next-all{                    
        top: 37%;
        }       
    }
    .text-slider__text{
        padding-right: 15px;
        width: 96%;
    }
}
@media (max-width: 26.6em/*425*/) {
    .phone-slider{
        margin-left: 0;
    }
    .comments{
        .swiper-button-prev-all,.swiper-button-next-all{                    
        top: 28%;
        }       
    }
    .instruction__button {
        bottom: -10%;
    }
    .instruction{
        margin-bottom: 200px;
    }
    .instruction__list li{
        margin-right: 10px;
    }
    .application__sub-title{
        width: 100%;
    }
    .instruction__list{
        padding-right: 0;
    }
    .instruction__bullets{
        padding-right: 5px;
    }
}
@media (max-width: 20em/*320px*/) {
    .comments{
        .swiper-button-prev-all,.swiper-button-next-all{                    
        top: 39%;
        }       
    }
}